# Dependencies
node_modules

# Build output
/.next
/out

# Production
/.vercel

# Env files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db
